#calculation {
    box-sizing: border-box;
    margin-bottom: 400px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width:  700px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 1px 2px 0px rgb(71, 71, 71);
}
.buttonFormCalc{
    width: 100%;
    display:  flex;
    justify-content: flex-start;
}

.calculation {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content:  center;
    align-items: center;
}
.calculationForm {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 35px;
    width: 90%;
    height: 80%;
    background-color: rgb(58, 58, 58);
}


.paragraf–°alc {
    margin-top: 50px;
}

.userEntered {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.calcOutPut {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 18px;
    border: 1px solid #797979;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid #797979;
    border-radius: 0;
    box-sizing: border-box;
}



.answer {
    margin-top: 10px;
    height: 60px;
    
}
.calcBtn{
    font-size: 18px;
    transition : 0.5s ease-out;
    height: 35px;
    background-color: #fbb066;
    border: 1px solid #797979 ;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    border-radius: 0;
}
.calcBtn:hover{
    border: none;
    background-color: #fe1010;

}
.lastSpan{
    font-size: 30px;
    color: crimson;
}

.inpEnter {

    box-sizing: border-box;
    height: 25px;
    padding: 0;
    outline: none;
    border-radius: 0;
}

@media (max-width: 750px) {
    #calculation{ 
    width:  520px;
    height: 550px;
    }
    .calculationForm {
        margin-top: 5%;
        margin-left: 5%;
    }
}

@media (max-width: 450px) {
    #calculation {
    width:  370px;
    height: 550px;
    }

    .calculationForm {
        margin-top: 5%;
        margin-left: 5%;
    }
    .calculation {
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
    }
    .buttonFormCalc{
        justify-content: center;
    }

}