#calculation {
    box-sizing: border-box;
    margin-bottom: 400px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width:  700px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 1px 2px 0px rgb(71, 71, 71);
}
.buttonFormCalc{
    display:  flex;
    flex-direction: row;
    justify-content: flex-start;
}

.calculation {
    display: flex;
    justify-content:  center;
    flex-direction: row;
    align-items: center;
}
.calculationForm {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 35px;
    width: 90%;
    height: 80%;
    background-color: rgb(58, 58, 58);
}


.paragrafСalc {
    margin-top: 50px;
}

.userEntered {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.calcOutPut {
    border: 1px solid #797979;
    width: 270px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-top: 1px solid;
}



.answer {
    margin-top: 10px;
    height: 60px;
    
}
.calcBtn{

    transition : 0.5s ease-out;
    height: 35px;
    background-color: #fbb066;
    border: none ;
    cursor: pointer;
    outline: none;
}
.calcBtn:hover{
    border: none;
    background-color: #fe1010;

}
.lastSpan{
    font-size: 30px;
    color: crimson;
}

.inpEnter {
    padding: 0;
    outline: none;
}